/* RESET */

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* BREAKPOINTS 
960
740
*/

/* MENU */

.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
  content: "";
  clear: both;
  display: table;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
  margin-right: 10px;
  text-decoration: none;
}

@media (max-width: 739px) {
  .menu {
    text-align: center;
  }
  a.menu-logo {
    float: none;
  }
  .menu-nav {
    float: none;
    clear: both;
  }
}

/* INTRO */

.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: "";
  width: 20px;
  display: block;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .intro {
    padding: 40px 0;
  }

  .intro h1 {
    text-transform: uppercase;
    font-size: 2.25em;
  }

  .intro p {
    font-size: 0.875em;
  }
}

/* SOBRE */

.sobre {
  padding: 60px 0;
}

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after,
.sobre-container::before {
  content: "";
  clear: both;
  display: table;
}

.sobre h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  background: #252525;
  font-size: 2.25em;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .sobre-container {
    max-width: 720px;
  }
  .sobre-item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .sobre-container {
    max-width: 300px;
  }
  .sobre-item {
    max-width: 300px;
    margin: 0 auto;
  }
}

/* PRODUTOS */

.produtos {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produtos-container {
  margin: 0 auto;
  max-width: 960px;
}

.produtos-container::after,
.produtos-container::before {
  content: "";
  clear: both;
  display: table;
}

.produtos-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.produtos-item h2::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
}

.produtos-paulista::before {
  color: #492901;
}

.produtos-carioca::before {
  color: #c17139;
}

.produtos-mineiro::before {
  color: #d7a54d;
}

.produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-btn {
  margin: 20px auto 0 auto;
  width: 180px;
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos-container {
    max-width: 720px;
  }
  .produtos-item {
    width: 220px;
  }
}

@media (max-width: 739px) {
  .produtos-container {
    max-width: 300px;
  }
  .produtos-item {
    margin: 0px auto 20px auto;
  }
}

/* LOCAIS */

.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locais-item::before,
.locais-item::after {
  display: table;
  clear: both;
  content: "";
}

.locais-item {
  clear: both;
  margin: 60px auto;
}

.locais-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.locais-item > div {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #252525;
  color: #252525;
  padding: 10px 20px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .locais {
    max-width: 720px;
  }
  .locais-item > div,
  .locais-item img {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .locais {
    max-width: 300px;
  }

  .locais-item > div,
  .locais-item img {
    width: 300px;
    margin: 0;
  }
}

/* NEWSLETTER */

.assine {
  background: #e7e4d8;
  padding: 30px 0;
}

.assine-container {
  max-width: 960px;
  margin: 0 auto;
}

.assine-container::after,
.assine-container::before {
  content: "";
  display: table;
  clear: both;
}

.assine-container > div {
  float: left;
  width: 460px;
  margin: 0 10px;
}

.assine-container > div h2 {
  font-size: 2.25em;
}

.assine-container > div p {
  font-size: 1.5em;
  font-style: italic;
}

.assine-container > form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.assine-container > form label {
  display: none;
}

.assine-container > form input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
  padding: 10px;
}

.assine-container > form button {
  background: #252525;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  float: left;
  padding: 13px 0;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (min-width: 740px) and (max-width: 980px) {
  .assine-container {
    max-width: 720px;
  }
  .assine-container > div,
  .assine-container > form,
  .assine-container > form input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .assine-container {
    max-width: 300px;
  }
  .assine-container > div,
  .assine-container > form,
  .assine-container > form input {
    width: 300px;
    margin: 10px 0 0 0;
  }
}

/* FOOTER */

.footer {
  background-color: #d6d3c8;
  padding: 40px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-container::after,
.footer-container::before {
  content: "";
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  display: block;
  margin: 0 10px;
}

@media (max-width: 739px) {
  .footer-container {
    max-width: 300px;
  }
  .footer p {
    float: none;
    margin: 0;
  }
  .footer img {
    float: none;
    margin: 10px 0;
  }
}
